.raleway-200 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-300 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.raleway-400 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-300 {
  font-family: "Quicksand", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-400 {
  font-family: "Quicksand", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.quicksand-500 {
  font-family: "Quicksand", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-600 {
  font-family: "Quicksand", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-700 {
  font-family: "Quicksand", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
