@import "fonts";
@import "navbar";
@import "footer";

body{
  font-family: quicksand-400;
}

a {
  text-decoration: none;
  color: black;
}


h3 {
  letter-spacing: 0.4rem;
}

ul {
  letter-spacing: 0;
}

i{
  color: #9394ad;
}

.subtitle {
  /* color: #f1ffeb;*/
  /* color: #6b6b6b;*/
}

#concept_design_wrap img {
  cursor: pointer;
}

#concept_design_wrap img:hover {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

}

#zoom_img_modal img {
  width: 100%;
}

/* background-color: #d1cbc5;*/
/* background-color: #febe98;*/


#site_layout {
  /*background-color: #febe98;*/
}

.swiper {
  width: 600px;
  height: 600px;
}

.owl-carousel{
  width: 600px;
  height: 600px;
}

.owl-carousel img {
  display: block;
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

@import "mediaquery";
