@import "fonts";
@import "navbar";
@import "footer";

body{
  font-family: quicksand-400;
}

a {
  text-decoration: none;
 /* color: black;*/
}
header{
  a{
    color: black;
  }
}


h3 {
  letter-spacing: 0.4rem;
}

ul {
  letter-spacing: 0;
}

i{
  color: black;
  opacity: 70%;
}

.subtitle {
  /* color: #f1ffeb;*/
  /* color: #6b6b6b;*/
}

#concept_design_wrap img {
  cursor: pointer;
}

#concept_design_wrap img:hover {
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

}

#zoom_img_modal img {
  // width: 100%;
  height: 100%;
}

/* background-color: #d1cbc5;*/
/* background-color: #febe98;*/


#site_layout {
  /*background-color: #febe98;*/
}

.owl-carousel, .mySlideshow{
  width: 500px!important;
  height: 500px!important;
  border: 1px solid red;
}

.cb-slideshow{
  width: 550px!important;
  height: 550px!important;
}

.cb-slideshow div {

  width: 100%!important;
}

.owl-carousel img, .mySlideshow img {
  display: block;
  width: 100%;
}

#zoom_img_modal{
  a{
    color: black
  }
}

main{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap
}

@import "mediaquery";
